.content-sign-up
  .header
  .main
    .section
      %h2.main-logo 新規ユーザー登録
      = form_with model: @user, url: user_registration_path, class: "main-form", local: true do |f| 
        .name
          %label.name-user ニックネーム
          %span.name-content 必須
          =f.text_field :nickname ,class:"name-form",placeholder: "例:ほげほげ", size: "30"
        .name
          %label.name-user メールアドレス
          %span.name-content 必須
          =f.text_field :email,class:"name-form",placeholder: "PC,携帯どちらでも可"
        .name
          %label.name-user パスワード
          %span.name-content 必須
          =f.password_field :password,class:"name-form",placeholder: "７文字以上の半角英数字"
        .name
          %label.name-user パスワード
          %span.name-content 必須
          =f.password_field :password,class:"name-form",placeholder: "7文字以上の半角英数字"
        .name
          %h2.main-logo 本人確認
          %p.logo 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客様に公開されることはありません。
        .name
          %label.name-user お名前（全角）
          %span.name-content 必須
          =f.text_field :family_name,class:"name-form",placeholder: "例）山田"
          =f.text_field :first_name,class:"name-form",placeholder: "例）太郎"
        .name
          %label.name-user お名前カナ（全角）
          %span.name-content 必須
          =f.text_field :family_name_kana,class:"name-form",placeholder: "例）ヤマダ"
          =f.text_field :first_name_kana,class:"name-form",placeholder: "例）タロウ"
        .name-second
          %label.name-user-second
            生年月日
            %span.name-content-second 必須
          = f.date_select :birth_date, use_month_numbers: true, start_year: 1970, end_year: Time.now.year, prompt:"--", class:"main__box__bottom__content__group3__box__barthday__box"
        =f.fields_for :destination do |d|
          .name
            %label.name-user 郵便番号
            %span.name-content 必須
            =d.text_field :post_code,class:"name-form",placeholder: "例）000-0000"
          .name
            %label.name-user 都道府県
            %span.name-content 必須
            = d.collection_select :prefecture_id, Prefecture.all, :id, :name,{} ,{class:"name-form"}
          .name
            %label.name-user 市区町村
            %span.name-content 必須
            =d.text_field :city,class:"name-form",placeholder: "例）高松市"
          .name
            %label.name-user 番地
            %span.name-content 必須
            =d.text_field :house_number,class:"name-form",placeholder: "例）0000-0"
          .name
            %label.name-user 建物名
            =d.text_field :building_name,class:"name-form",placeholder: "例）シンボルタワー"
          .name
            %label.name-user 電話番号 
            =d.text_field :phone_number,class:"name-form",placeholder: "例）000-0000-0000"
          =f.submit "登録する", class:"send"
    .footer
