= render "users/top_header"
%main.CardShow
  .BackBoard
    = render "users/side_bar"
    .MainBody
      .PayMethod
        %section.Method
          %h2.Method__heading
            支払い方法
        
= render "users/advertising_&_footer"