%header.TopMenu
  .TopContainer
    .TopContainer__TopBar
      %h1.TopContainer__Logo
        = link_to root_path do
          = image_tag 'material/logo/logo.png', class: 'TopLogo'
        %span<>
      .SearchBox
        %form.SearchBar
    .TopContainer__ListBar
      %ul.LeftList
        %li.LeftList__Item
      %ul.RightItems
        %li.RightList__Item
%main.UserShow
  .BackBoard
    .SideBar
      %nav.SideNavList
    .MyPage
.LinkToDlsite
%footer.BottomMenu