.PayMethod {
  background: #fff;
  .Payment {
    padding: 32px 16px;
    border-bottom: 1px solid #f5f5f5;
    &__heading {
      text-align: center;
      font-size: 24px;
      line-height: 34px;
      font-weight: bold;
    }
  }
  .Method {
    max-width: 375px;
    margin: 0px auto;
    padding: 0px 16px;
    &__section {
      padding: 32px 0px;
      font-size: 14px;
      .ResistCard {
        display: flex;
        align-items: center;
        &__info {
          margin: 0 16px;
          flex: 1 1 0%;
          .CardLogo {
            max-width: 48px;
          }
        }
      }
    }
    .RJustify {
      text-align: right;
    }
  }
}
.DefaultBtn {
  display: block;
  background-color: #ccc;
  border: 1px solid transparent;
  color: #333;
  text-align: center;
  font-size: 14px;
  line-height: 48px;
  width: 100%;
  border-radius: 4px;
}
.BlueBtn {
  background-color: $symbol-color;
  border: 1px solid $symbol-color;
  color: #fff;
}