* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  background-color: #f5f5f5;
}
.TopMenu {
  padding: 0 60px;
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
}
.TopContainer {
  max-width: 1040px;
  width: 100%;
  padding-top: 15px;
  margin: 0 auto;
  &__topBar {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__logo {
    padding-bottom: 10px;
    margin-right: 30px;
    .TopLogo {
      width: 140px;
    }
  }
  .SearchForm {
    margin-left: auto;
    width: 100%;
    &__form {
      width: 100%;
      display: flex;
      margin-bottom: 5px;
    }
    &__area {
      width: calc(100% - 26px);
      height: 36px;
      padding: 0 0 0 5px;
    }
    &__icon {
      width: 36px;
      height: 36px;
      border: 0;
      cursor: pointer;
      background-color: #3CCACE;
      padding: 8px;
    }
    &__image {
      width: 100%;
    }
    &__btn {
      display: none;
    }
  }
  &__listBar {
    font-size: 14px;
    display: flex;
    min-height: 42px;
    .LeftList {
      position: relative;
      display: flex;
      &__item {
        line-height: 38px;
        padding: 0 0 0 16px;
        position: relative;
      }
      &__item a {
        color: #333;
        text-decoration: none;
        line-height: 32px;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 18px;
        padding-right: 30px;
      }
      &__item a i {
        color: #3CCACE;
      }
      &__item span {
        font-weight: 700;
      }
    }
    .RightList {
      margin-left: auto;
      display: flex;
      &__item {
        position: relative;
        cursor: pointer;
        color: #333;
        padding-left: 16px;
        &--member a {
          display: flex;
        }
      }
      &__item a {
        align-items: center;
        color: #333;
        text-decoration: none;
        line-height: 32px;
      }
      &__item a i {
        color: #cccccc;
        font-size: 20px;
        margin-right: 5px;
        vertical-align: middle;
      }
      &__item a img {
        width: 28px;
      }
      &__item span {
        vertical-align: middle;
        margin-left: 5px;
      }
    }
  }
}

.UserShow {
  .BackBoard {
    margin: 0 auto;
    padding: 40px 0;
    width: 1020px;
    display: flex;
    .SideBar {
    width: 280px;
    margin: 0 40px 0 0;
  
      .SideTitle {
        margin: 40px 0 0;
        font-size: 16px;
        font-weight: bold;
      }
      .SideNavBox {
        & li {
          border-top: 1px solid #eee;
        }
        &__list {
          min-height: 48px;
          padding: 16px;
          font-size: 14px;
          background: #fff;
          color: #333;
          position: relative;
          display: block;
          & i {
            position: absolute;
            top: 50%;
            right: 16px;
            color: #ccc;
            transform: translate(0, -50%);
          }
        }
      }
    }
    .MyPage {
      width: 700px;
      .MyPageUser {
        height: 200px;
        padding: 20px;
        background-image: url("material/pict/bg-user_banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
        .Bold {
          font-weight: 600;
        }
        & a {
          display: block;
          color: #333;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translate(0, -50%);
        }
        & figure {
          margin: 0 auto;
          overflow: hidden;
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        & img {
          width: 60px;
          height: 60px;
        }
        .TradeCount {
          margin: 8px 0 0;
          &__segment {
            display: inline-block;
            font-size: 14px;
          }
          & span {
            font-size: 16px;
            margin-left: 8px;
          }
          & div+div {
            margin-left: 16px;
          }
        }
      }
      .MyPageContent {
        margin: 40px 0 0 0;
        background: #fff;
        &__title {
          background: #fafafa;
          font-size: 16px;
          line-height: 72px;
          padding: 0 16px;
        }
        .ContentTabs {
          background: #eee;
          white-space: nowrap;
          & li {
            display: inline-block;
            text-align: center;
            width: 50%;
            cursor: pointer;
            vertical-align: top;
            & h3 {
              font-weight: bold;
              color: #333;
              font-size: 16px;
              line-height: 72px;
            }
          }
          .Active {
            background: #fff;
            & h3 {
              border-top: 2px solid #3ccace;
            }
          }
        }
        .ContentPanes {
          .Show {
            display: block;
          }
          & ul {
            display: none;
            font-size: 14px;
            & li {
              border-bottom: 1px solid #eee;
            }
            .PaneList {
              min-height: 80px;
              display: flex;
              padding: 0 16px;
              align-items: center;
              color: #333;
              & figure {
                width: 48px;
                height: 48px;
                position: relative;
                overflow: hidden;
                margin: 0;
              }
              & img {
                width: 100%;
                position: absolute;
                background: #eee;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
              }
              .ItemInfo {
                margin: 0 40px 0 20px;
                -webkit-box-flex: 1;
                flex: 1;
                overflow: hidden;
                .ItemIntro {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  line-height: 1.5;
                  white-space: nowrap;
                  word-break: break-all;
                }
                .ItemState {
                  display: inline-flex;
                  margin: 4px 0 0 0;
                  padding: 0 4px;
                  height: 17px;
                  font-size: 12px;
                  font-weight: bold;
                  color: #fff;
                  align-items: center;
                  justify-items: center;
                }
                .Done {
                  background: #888;
                }
              }
            }
            .NotFound {
              background-color: #fff;
              padding: 60px 0 60px;
              text-align: center;
              font-size: 16px;
              color: #ccc;
            }
            .PaneBottom {
              padding: 16px;
              & a {
                height: 56px;
                line-height: 56px;
                background: #eee;
                display: block;
                margin: 0 auto;
                color: #333;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

.AppAdvertising {
  background-image: url(material/pict/bg-appBanner-pict.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 40px;
  .MyPageAd {
    color: #fff;
    text-align: center;
    &__copy {
      font-size: 24px;
      font-weight: bold;
      text-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.4);
      line-height: 1.4;
    }
    &__promo {
      font-size: 35px;
      text-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.4);
    }
    &__btn {
      display: flex;
      justify-content: center;
      margin: 20px auto;
      a:first-child {
        margin-right: 10px;
      }
      a img {
        width: 100%;
        vertical-align: bottom;
      }
      .appbtn,.googlebtn {
        width: 180px;
      }
    }
  }
}
.BottomMenu {}