.content-sign-up
  .header
  .main
    .content
      .content-message
        %p アカウントをお持ちでない方はこちら
        =link_to '新規会員登録', 'new_user_registration_path',class:"content-logo" 
      .content-list
        =link_to '#',class:"content-btn_g"  do
          =icon('fab', 'google', class:"content-icon")
          %span Googleでログイン
        =link_to  '#',class:"content-btn_f" do
          = icon('fab', 'facebook-square', class: "content-icon")
          %span Facebookでログイン
        =link_to '#',class:"content-btn_a" do
          =icon('fab', 'apple', class:"content-icon")
          %span Appleでログイン
        =form_with model: @user, url: user_session_path, class: "content-foot", local: true do |f| 
          =f.email_field :email ,class:"content-form",placeholder: "メールアドレス"
          =f.password_field :password,class:"content-form",placeholder: "パスワード"
          =f.submit class:"btn",value: "ログイン"
        =link_to 'パスワードをお忘れの方', '#',class:"note"
  .footer