= render "users/top_header"
.ItemIndexBoard
  %section.TopAdvertise
  %section.FurimaReasons
  %section.FurimaAdvertise
  %section.FurimaFeatures
  %section.ItemIndex
  %section.ItemIndex
= render "users/advertising_&_footer"