.SellContainer {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-size: 14px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  img {
    width: 185px;
    height: 49px;
  }
  a {
    color: blue;
  }
  .SellHeader {
    height: 128px;
    text-align: center;
    h1 {
      margin: 40px 0 0;
      display: inline-block;
    }
