.SellContainer {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-size: 14px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  img {
    width: 185px;
    height: 49px;
  }
  a {
    color: blue;
  }
  .SellHeader {
    height: 128px;
    text-align: center;
    h1 {
      margin: 40px 0 0;
      display: inline-block;
    }
    a {
      width: 185px;
      height: 49px;
      line-height: 49px;
    }
  }
  .SellNewContainer {
    margin: 0px auto;
    max-width: 700px;
    .FormItemPanel {
      padding: 40px;
      background-color: white;
      label {
        font-size: 14px;
        font-weight: 600;
        line-height: 140%;
      }
